<!DOCTYPE html>
<html>
<title>Fighters</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.uicc.org/sites/main/files/styles/uicc_news_main_image/public/thumbnails/image/BCAM2016_FA.jpg?itok=zimiEGKS');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Fighters</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">You can do it !</p>
  </div>
</div>

</body>
</html>
<!DOCTYPE html>
<html>

  <head>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
    <title>Fighters</title>


  </head>
<body>
    <div class="topnav">
      <a class="active" href="{{url_for ('index')}}">Home</a>
      <a href="{{url_for ('login')}}">Log in</a>
      <a href="{{url_for ('about_us')}}">About us</a>
     
    </div>
  <center>
    </html>